<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="WARN">

<Properties>

        <Property name="basePath">/ficherosLogs</Property>

    </Properties>

  <Appenders>

	<Console name="Console">

		<PatternLayout pattern="SE HA INTRODUCIDO UN VALOR PAR A LAS %d{HH:mm} %msg%n"/>

		
	</Console>

	 <RollingFile name="fileLoggerPorMinuto" fileName="${basePath}/esther_pizarro_soto_LOGS_3EVA.log" filePattern="${basePath}/app-info-%d{yyyy-MM-dd-hh-mm}.log">

            <PatternLayout>

                <pattern>SE HA INTRODUCIDO UN VALOR IMPAR EL DÍA %d{dd} A LAS %d{HH:mm} %msg%n</pattern>

            </PatternLayout>

            <Policies>

                <TimeBasedTriggeringPolicy interval="1" modulate="true" />

            </Policies>

        </RollingFile>

	     <File name="fileLoggerGeneral" fileName="${basePath}/salida.txt">

            <PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n" />

        </File>

  </Appenders>


  <Loggers>

    <Root level="debug">

      <AppenderRef ref="Console" level="debug" />
      
      <AppenderRef ref="fileLoggerPorMinuto" level="info" />
      
      <AppenderRef ref="fileLoggerGeneral" level="info" />

    </Root>

  </Loggers>


</Configuration>